@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h4 {
  margin-bottom: 1.5;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 1.26px;
}

h3 {
  font-size: 25px;
  font-weight: light;
}

question {
  text-transform: none;
  font-style: bold;
  font-size: 14px;
}
