@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 0255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* @font-face {
  font-family: "helvetica";
  src: url("/src/fonts/helvetica/HelveticaNeue-Lt.woff"), format("woff");
  font-weight: 300;

  font-family: "helvetica";
  src: url("/src/fonts/helvetica/HelveticaNeue-Roman.woff"), format("woff");
  font-weight: 400;

  font-family: "helvetica";
  src: url("/src/fonts/helvetica/HelveticaNeue-Bd.woff"), format("woff");
  font-weight: 600;
} */
